
.container{
  width: 100%;
}

.form-container{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-copy{
  cursor: pointer;
}

.label{
  text-align: initial;
    line-height: 2;
    font-weight: 500;
}

@media (max-width: 480px) {
  .input-group{
    width: 100% !important;
  }
}