<main class="container">

  <form class="example-form" [formGroup]="form">

    <div class="row form-container">

      <div class="input-group mb-3 col-xl-6 col-md-6 col-sm-12 col-12 w-50">
        <label class="col-12 label">Your temporary e-mail</label>
        <input type="text" [readonly]="true" class="form-control w-85" formControlName="email">
        <span class="input-group-text w-15 btn-copy" id="basic-addon1" (click)="copyEmail()">
          <mat-icon class="mat-18" [matTooltip]="copyTextTooltip">content_copy</mat-icon>
        </span>
      </div>

      <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12"> -->
      <button mat-raised-button class="mt-2 me-1 col-xl-2 col-md-2 col-sm-12 col-12" (click)="createMail()">{{!F_email.value ? 'Generate email' : 'Generate new email'}}</button>
      <button mat-raised-button class="mt-2 col-xl-2 col-md-2 col-sm-12 col-12" disabled="{{F_email.value ? false : true}}" (click)="clearInput()">Clear</button>
      <!-- </div> -->

    </div>
  </form>

</main>